<header id="header">
    <div id="header-x">
        <button id="登入" style="display: none">登入</button>
        <button id="註冊" style="display: none">註冊</button>
        <a href="/setting">
            <button id="個人檔案" style="display: none">
                <slot name="icon"></slot>
            </button>
        </a>
        <button id="切換成店家" style="display: none">切換成店家</button>
        <button id="切換成顧客" style="display: none">切換成顧客</button>
        <button id="我的訂單" style="display: none">我的訂單</button>
        <button id="個人資訊" style="display: none">個人資訊</button>
        <button id="列印頁面" style="display: none">列印頁面</button>
        <button id="訂單" style="display: none">訂單</button>
        <button id="印表機" style="display: none">印表機</button>
        <button id="店鋪設定" style="display: none">店鋪設定</button>
        
    </div>
</header>